*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 75px;
    /* width: 100px; */
    /* background-color: rgb(249, 198, 78); */
    background-color:#fbbc04;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
   
    justify-content: space-evenly;
   text-align: center;
   align-items: center;
    border-bottom: 0.75px solid black;
   
}
.nav-logo{
    height: 120px;
    width: 60%;
    /* align-content: center;
    justify-content: center; */
}
.logo{
    padding-left: 30rem;
    background-image: url("https://seeklogo.com/images/M/medium-2020-new-logo-4DD1CA1BFF-seeklogo.com.png");
    /*    background -image-color:#ffa600f1; */
   
    background-repeat: no-repeat;
    /* margin-left: 3px; */
    height: 75px;
    width: 120%;
    display: flex;
    justify-content: space-between;
    background-size: 120px;
    /* font-size: 100px; */
    
}
.content_2{
    border: 0.75px solid black;
    padding: 4px;
    height: 22px;
    width: 7%;
    font-size: medium;
    border-radius: 25px;
    background-color: black;
    color: white;
   

    
}
.context-one{
   padding-top: 100px;
   padding-left: 60px;
   padding-bottom: 10px;
    height: 350px;
    width: 170%;
    font-size: 40px;
    border: 0.75px solid black;
    background-color: #fbbc04;
}
.context-two{
    width:20% ;
    font-size: 27px;
    padding-bottom: 40px;
    
}
.c-button{
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 25px;
    height: 38px;
    width:8.5%;
    background-color: black;
    color: white;
    font-size:20px;
    text-align: center;

}
.trend-news{
    border: 1px solid rgb(216, 210, 210);
    height: 350px;
}
.icon {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 10px;
    display: flex;
    
}
.container{
   padding-top: 14px;
   padding-left: 100px;
   
    
    
}
.box {
    display: grid;
    grid: repeat(2, 120px) / auto-flow 400px;
   
}

.box-1{
    font-size: medium;
    font-weight: 400;
}
.date{
    display: flex;
    font-size: small;
    padding-left: 40px;
    padding-top: 10px;
    color: gray;
}
.align{
   /* border: 1px solid black; */
    padding-left: 40px;
    display: flex;
    text-align: top;
}

.container-2{

    height: 2000px;
    width: 100%;
    /* border: 1px solid grey; */
    display:flex;
    
}
.image{
    padding-top:65px ;
    padding-left:30px ;
}
.boxes{
    width: 60%;
    /* border: 1px solid black; */
}
 .button
 {
    border-radius: 50px;
    background-color: rgb(221, 216, 216);
 }
.content-box{
   padding-left:60px ;
   padding-top: 70px;
   
  
   
   
}

.date-1{
   font-size: smaller;
   color:grey ;
   padding-top: 10px;
}
.boxes-1{
    display: flex;
   
}
.side-container{
    display:inline;
    /* top: 1000px; */
    width: 40%;
    margin-right: 50px;
    /* position: sticky; */
}
.first{
   font-size:large;
   font-weight: bold;
   position: sticky;
   top: 90px;
   padding-top: 50px;
   /* padding-left: 100px; */
   

}
.second a{
    text-decoration: none;
    color: black;
    background-color: rgb(248, 228, 232);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin: 10px 10px 0px 10px;
    width:  fit-content;
    font-size: 13px;
    

}
.second{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 160px;
    /* padding-left: 90px; */
    padding-top: 10px;
}

.third{
    color: green;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 300px;
    padding-top: 20px;
    /* padding-left: 100px; */
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(239, 234, 234);

}
.four{
    /* margin-left: 70px; */
    margin-right: 60px;
    padding-top: 30px;
    position: sticky;
    top: 350px;
}
.four a{
    text-decoration: none;
    color: grey;
    padding: 1px 10px 10px 0px;
}
.four-1{
    padding-bottom: 12px;
}
